%h2 Hi
= @user.display_name
%br
%h3 You account has been successfully created at AIMDek credit card application.
%br
%h3 here is your credentials to access your account.
%br
Email Address
= @user.email
%br
Password
= @password

%br
Thanks for using our services.
%br
AIMDek Team