// Place all the styles related to the customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.table{
  margin-bottom: 0;
}
#customers{
  margin-bottom: 20px !important;
}

.credit_card_destroy label{
  font-weight: normal;
}